<%= form_for :session, url: sign_in_path do |f| %>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100" style="margin-top: 10px">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <p class="text-white">Usuario normal</p>
              <p class="text-white">login: normal</p>
              <p class="text-white">senha: 123</p>
              <br>
              <p class="text-white">administrador</p>
              <p class="text-white">login: admin</p>
              <p class="text-white">senha: root</p>

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Entre com seu login e senha, por favor!</p>

              <div class="form-outline form-white mb-4">
                    <%= f.label :username %><br />
                    <%= f.text_field :username, autofocus: true, :class => "form-control form-control-lg"%>
              </div>

              <div class="form-outline form-white mb-4">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", :class => "form-control form-control-lg" %>
              </div>

              <%= f.submit "Log in", :class => "btn btn-outline-light btn-lg px-5"%>

            </div>
            
              <p class="text-white-50 mb-5"><%= notice %></p>

            <div>
              <p class="mb-0">Não tem uma conta? <%= link_to "Se inscreva!", new_user_path, :class=>"text-white-50 fw-bold"%>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>